.header-container {
  position: relative;
  padding: 8px 26px;
  background: linear-gradient(to bottom, black, transparent);

  display: flex;
  justify-content: space-between;
  align-items: center;
}